.cart {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
}

.img-cart {
  position: relative;
}

.discount {
  top: 15px;
  right: 14px;
  width: 41px;
  height: 29px;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #494848;
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.cart-content {
  padding: 13px 0 17px 12px;
}

.cart-title {
  font-size: 14px;
}

.cart-price {
  margin-top: 7px;
}

.cart-price p {
  font-size: 18px;
}

.cart-price__total {
  font-weight: 700;
}

.cart-price__old {
  margin-left: 15px;
  text-decoration: line-through;
  color: #c4c4c4;
}

.cart-button {
  margin-top: 17px;
  margin-left: 2px;
}
