.basket {
    margin: 61px 0 60px;
    padding: 25px 43px 29px 23px;
    border: 1.5px solid $border-color;
    border-radius: 30px;

    &-total {
        justify-content: space-between;

        &__product {
            width: 674px;
            padding: 21px;
            border: 1.5px solid $border-color;
            border-radius: 30px;

            .basket-total__title {
                font-size: 24px;
                font-family: "Montserrat-Bold";
                margin-bottom: 29px;
            }

            .basket-total__card {
                margin-bottom: 29px;
                justify-content: space-between;
                align-items: center;

                .card-wrap {
                    width: 420px;
                    align-items: center;

                    img {
                        width: 164px;
                        height: 152px;
                    }

                    .card-descr {
                        margin-left: 31px;
                        font-size: 14px;
                        flex-direction: column;

                        .card-price__block {
                            margin-top: 17px;
                            margin-bottom: 24px;
                            font-size: 18px;


                            .card-price__new {
                                margin-right: 13px;
                                font-family: "Montserrat-Bold";

                            }

                            .card-price__old {
                                position: relative;
                                color: #B7B6B6;
                            }

                            .card-price__old:before {
                                content: '';
                                position: absolute;
                                top: 45%;
                                left: -5px;
                                z-index: 5;
                                width: 60px;
                                height: 1px;
                                background: #B7B6B6;
                            }
                        }
                    }
                }

                .basket-button {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    border: 1.5px solid #eee;
                    cursor: pointer;
                    transition: 0.2s;
                }

                .basket-button:hover {
                    background-color: #ee4949;
                    transition: 0.2s;
                }

                .basket-button:active {
                    background: #eee;
                    transition: 0.15s;
                }





                .basket-total__counter {
                    margin-right: 65px;
                    width: 68px;
                    height: 29px;
                    padding: 6px 18px;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 5px;
                    border: 1.5px solid $border-color;

                    .counter-number {
                        margin-right: 15px;
                        font-size: 14px;
                    }

                    .counter-button {
                        flex-direction: column;
                        background-color: lightgray 50% / cover no-repeat;


                        .button-arrow {
                            justify-content: center;
                            align-items: center;
                            width: 18px;
                            height: 10px;
                            border: none;
                        }

                        .button-arrow:active {
                            border: 0.5px solid $grey;
                        }

                        .button-arrow__img {
                            width: 8px;
                            height: 8px;
                        }

                    }
                }

            }
        }

        .basket-total__price {
            height: 236px;
            width: 457px;
            padding: 21px;
            border: 1.5px solid $border-color;
            border-radius: 30px;

            .basket-total__title {
                font-size: 24px;
                font-family: "Montserrat-Bold";
                margin-bottom: 29px;
            }

            .basket-total__descr {
                font-size: 14px;
                margin-bottom: 24px;

                .total-descr {
                    margin-top: 17px;
                }

                .total-descr:not(:last-child) {
                    margin-top: 0;
                }
            }

            .basket-total__button {
                margin: 0 auto;
            }

        }
    }

    .basket-order {
        margin-top: 50px;
        margin-left: 21px;
        margin-right: 21px;

        .order-hr {
            margin-top: 40px;
            width: 100%;
            height: 1px;
            background-color: #eee;
        }


        &__title {
            margin-top: 38px;
            font-size: 24px;
            font-family: "Montserrat-Bold";
            margin-bottom: 29px;
        }

        &__form {
            .order-input__group {
                width: 263px;
                flex-direction: column;

                input,
                textarea {
                    padding: 10px 8px;
                    font-size: 14px;
                    color: #eee;
                    border-radius: 5px;
                    border: 1.5px solid #EEE;
                    background: #FFF;
                }

                textarea {
                    width: 263px;
                    height: 71px;
                    resize: none;
                }

                input::placeholder {
                    color: #eee;
                }

                textarea::placeholder {
                    color: #eee;
                }

                input:not(:last-child) {
                    margin-bottom: 8px;
                }
            }

            .order-form__method {
                margin-top: 26px;
                align-items: center;

                .method-title {
                    font-size: 14px;
                    font-family: "Montserrat-Bold";
                }

                input {
                    border: 1px solid #c4c4c4;
                    margin-left: 70px;
                    margin-right: 15px;
                }
            }

            .basket-total__order {
                margin-top: 30px;
                align-items: center;

                .total-sum {
                    margin-bottom: 17px;
                }

                .total-sum__finish {
                    font-family: "Montserrat-Bold";
                }

                .total-button {
                    margin-left: 130px;

                    .total {
                        width: 166px;
                        height: 41px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .total:first-child {
                        margin-right: 32px;
                    }

                }

            }
        }

    }
}