.header {
    width: 100%;
    background-color: $blue;

    .header-wrapper {
        padding: 0 145px;

        .block-wrap {
            height: 91px;
            align-items: center;
            justify-content: space-between;

            ul {

                li:first-child {
                    margin-right: 68px;
                }

                a {
                    color: $white;
                    transition: 0.2s ease-in;
                }

                a:hover {
                    color: #0077AA;
                    transition: 0.3s ease-in;
                }
            }

            .logo {
                margin-right: 17vmax;
            }

            .entrance:hover path {
                fill: #0077AA;
                transition: 0.3s ease-in;
            }

            .cart {
                margin-top: 10px;
                margin-right: 13px;
                transition: 0.3s ease-in;
            }

            .cart:hover path {
                stroke: #0077AA;
                transition: 0.3s ease-in;
            }
        }
    }
}