.nav-wrap {
    padding: 0 145px;

    nav {
        height: 108px;
        align-items: center;

        ul {
            width: 100%;
            justify-content: space-between;

            a {
                color: $text-color;
                transition: 0.2s ease-in;
            }

            a:hover {
                color: #EDCC65;
                transition: 0.2s ease-in;
            }
        }
    }
}