.playment {
    padding-top: 44px;
    min-height: 450px;
    height: calc(100vh - 237px);
    max-width: 938px;

    p:not(:first-child) {
        margin-top: 25px;
    }

    &-title {
        font-size: 24px;
        font-family: "Montserrat-Bold";
    }
}