.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(73, 72, 72, 0.50);
    z-index: 100;
}

.product {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 70%);
    width: 947px;
    margin: 0 auto;
    padding: 33px 31px 36px 31px;
    border-radius: 30px;
    border: 1.5px solid $border-color;
    background: $white;

    &-block {
        width: 885px;
        height: 580px;
        border-radius: 30px;
        border: 1.5px solid $border-color;
        background: $white;

        &__img {
            width: 496px;
            height: 580px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__descr {
            width: 262px;
            margin: 0 auto;
            flex-direction: column;

            .product-block__title {
                margin-top: 18px;
                font-size: 14px;
                font-family: "Montserrat-Bold";
            }

            .product-block__price {
                margin-top: 24px;

                .product-price {
                    margin-right: 30px;
                    font-size: 18px;
                    font-family: "Montserrat-Bold";

                    &__old {
                        color: #B7B6B6;
                        font-size: 18px;
                        position: relative;
                    }

                    &__old:before {
                        content: '';
                        position: absolute;
                        top: 45%;
                        left: -5px;
                        z-index: 5;
                        width: 60px;
                        height: 1px;
                        background: $text-color;
                    }
                }
            }
        }

        &__line {
            margin-top: 25px;
            height: 1.5px;
            background-color: $grey;
        }

        input {
            height: 37px;
            margin-top: 34px;
            padding: 0 8px;
            border-radius: 5px;
            border: 1.5px solid $border-color;
            color: rgba(196, 196, 196, 0.90);
            font-size: 14px;
        }

        button {
            margin-top: 31px;
            height: 41px;
            border-radius: 8px;
            background: #9ECDD6;
            border: none;
            color: $white;
            cursor: pointer;
        }

        .product-description {
            margin-top: 35px;
            font-size: 14px;

            &__descr {
                margin-top: 20px;

            }
        }
    }

    .product-close__button {
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

}