.header {
  width: 100%;
  background-color: #9ecdd6;
}

.header-container {
  height: 91px;
  padding: 0 10px;
  max-width: 920px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  font-weight: 700;
  color: #fff;
}

.header-link a {
  transition: 0.2s ease-in;
  color: #fff;
}

.header-link a:hover {
  transition: 0.2s ease-in;
  color: rgb(223, 214, 214);
}

.header-link:first-child {
  margin-right: 68px;
}

.logo-link {
  margin-right: 200px;
}

.cart-link {
  margin-right: 12px;
}
