.slider-container {
  margin-top: 58px;
  padding: 25px 45px 42px 43px;
  border: 1.5px solid #eeeeee;
  border-radius: 30px;
}

.slider-container h1 {
  font-family: "Montserrat-Bold";
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  color: #878787;
}

.cart {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
}

.cart-content {
  padding: 13px 0 17px 12px;
}

.cart-title {
  font-size: 14px;
}

.cart-price {
  margin-top: 7px;
}

.cart-price p {
  font-size: 18px;
}

.cart-price__total {
  font-weight: 700;
}

.cart-price__old {
  position: relative;
  margin-left: 15px;
}

.cart-price__old::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #c4c4c4;
  top: 10px;
  left: -4px;
}

.cart-button {
  margin-top: 17px;
  margin-left: 2px;
}
